html {
    min-height: 100dvh;
}

body {
    margin: calc(10px + 2vw);
    background: rgb(19, 19, 19);
    /* display:flex; */

    height: auto;
}

#cards-container {
    margin-inline: auto;
    /* max-height: 100dvh; */
    max-width: 120dvh;
    /* min-height: 100%;  */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(calc(75px + 4.1vw), 1fr));
    gap: calc(10px + 0.4vw);

    perspective: 1000px;
}

.card-inner {
    aspect-ratio: 1/1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.014);
    border-radius: 3px;
    box-shadow: 
        3px 4px 15px rgba(0,0,0,0.05),
        1px 2px 5px rgba(0,0,0,0.15);

    transition: 400ms ease;  
    transform-style: preserve-3d;   
    background-color: white;
}

#cards-container > div:hover .card-inner {
    transform: 
        translateY(-7px)   
        rotateX(6deg)     
        rotateY(-10deg)
        scale(1.04);
    box-shadow: 
        10px 20px 45px rgba(0,0,0,0.07),
        10px 20px 45px rgba(0,0,0,0.1),
        0px 8px 14px rgba(0,0,0,0.1);
}

#cards-container > div.flipped .card-inner {
    animation: none;
    z-index: 10;
    transform: 
        translateY(-24px)   
        rotateX(0deg)     
        rotateY(180deg)
        rotateZ(4deg)
        scale(1.2);
}

#cards-container > div.found .card-inner {
    animation: none;
    z-index: 1;
    transform:      
        rotateY(180deg)
}

.card-front,
.card-back {
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;

    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border-radius: 3px;

    transition: 400ms ease;
}

.card-front {
    z-index: 1;
    background-color: rgb(96, 96, 255);  
    transform: rotateY(180deg);
    
    background-position: center;
    background-size: cover;
}

.card-back {
    background-color: rgb(126, 136, 123);    
    background: url(backside_512.png);
    background-position: center;
    background-size: cover;
}

.card-front:hover, .card-back:hover {
    filter: brightness(1.05);
}


@media screen and (max-width: 778px) {
    #cards-container {
        gap: 12px;
    }
}
