body {
    margin: 20px 24px;
    /* background: rgb(50, 50, 50); */
}

#cards-container {
    margin-inline: auto;
    /* max-height: 100dvh; */
    max-width: 120dvh;
    /* min-height: 80dvh;  */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    gap: 20px;

    perspective: 1000px;
}

#cards-container div {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    background: rgba(0, 0, 0, 0.149);
    background: linear-gradient(-35deg, rgba(82, 82, 82, 0.2), rgba(163, 163, 163, 0.05));
    backdrop-filter: blur(1000px);
    border: 1px solid rgba(0, 0, 0, 0.014);
    border-radius: 3px;
    box-shadow: 
        3px 4px 15px rgba(0,0,0,0.05),
        1px 2px 5px rgba(0,0,0,0.15);

    transition: 400ms ease;  
    transform-style: preserve-3d;   
}

#cards-container div:hover {
    transform: 
        translateY(-7px)   
        rotateX(6deg)     
        rotateY(-10deg)
        scale(1.04);
    box-shadow: 
        10px 20px 45px rgba(0,0,0,0.07),
        0px 8px 14px rgba(0,0,0,0.1);
    filter: brightness(1.3) contrast(2);
}

#cards-container div.flipped {
    animation: none;
    transform: 
        translateY(-24px)   
        rotateX(0deg)     
        rotateY(180deg)
        rotateZ(4deg)
        scale(1.2);
}

.placeholder {
    background: linear-gradient(35deg, rgba(124, 124, 124, 0.175), rgba(124, 124, 124, 0.1));
    aspect-ratio: 1/1;
}


@media screen and (max-width: 778px) {
    #cards-container {
        gap: 14px;
    }
}
